  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">
      <div class="logo float-left">
        <h1 class="text-light"><a href="/"><span>Supervision</span></a></h1>
      </div>
      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="/solutions">Solutions</a></li>
          <li><a href="/load">New Solution</a></li>
          <!-- <li class="drop-down"><a href="#services">User</a>
            <ul>
              <li><a href="containers_discovery.php">Log out</a></li>
            </ul>
          </li> -->
          
        </ul>
      </nav>
      
    </div>
  </header><!-- #header -->